@charset "UTF-8";
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #22212C;
    font-family: 'Merriweather Sans';
    color: #837E9F;
}

h2, p {
    margin-block-start: 0;
    margin-block-end: 0;
  }

.portfolio{
    width: 1440px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}


/* COLUNA 1*/
.col-1{
    background-color: #22212C;
    padding: 40px 0 20px 40px;
}

.profile{
    width: 348px;
    height: 292px;
    background-color: #302F3D;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #000000d3;
    text-align: center;
    
}
.profile img{
    width: 128px;
    height: 128px;
    margin-top: 32px;
}
.profile h2{
    font-size: 23px;
    font-weight: bold;
    margin: 30px 0 10px
}
.profile p{
    font-size: 13px;
    font-weight: light;
}


.links{
    width: 348px;
    height: 348px;
    background-color: #302F3D;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #000000d3;
    margin: 30px 0 30px 0;   
}
.links ul{
    padding-top: 40px;
}
.links ul li{
    list-style: none;
    color: #837E9F;
    margin-bottom: 20px;
}
.links ul li a{
    display: flex;
    
    text-decoration: none;
    color: #837E9F;;
}
.links ul li a i{
    font-size: 20px;
}
.links ul li a p{
    font-size: 14px;
    font-weight: 300;
    margin-left: 20px;
}


.techs{
    width: 348px;
    height: 208px;
    background-color: #302F3D;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #000000d3;
    padding-top: 30px;  
    margin-bottom: 30px; 
}
.techs h3{
    padding-left: 20px;
    font-size: 20px;
    
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;   
}
.nameTechs{
    font-size: 10px;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    gap: 15px;   
}
.nameTechs p{
    color: #000000;
    background-color: #CB92B1;
    width: 86px;
    
    border-radius: 30px;
    text-align: center;
    padding-top: 6px ;
    padding-bottom: 6px;
    margin-bottom: 15px;
}

.experience{
    width: 348px;
    height: 340px;
    background-color: #302F3D;
    box-shadow: 2px 2px 2px #000000d3;
    border-radius: 20px;

    padding: 30px 0 30px 0;
    margin-bottom: 30px; 
    box-sizing: border-box;
}
.experience h3{
    font-size: 20px;
    font-weight: 700;
    margin: 0px 0 15px 30px;
}
.experience ul{
    margin-left: 30px;
}
.experience li{
    font-size: 14px;
    margin-bottom: 8px;
}
.experience-span-1{
    opacity: .7;
}
experience-span-2{
    font-weight: 400px;
}



/* COLUNA 2*/
.col-2{
   background-color: #22212C;
   margin-left: 4px;
}

.my-projects{
    width: 952px;
    height: 86px;
    background-color: #302F3D;
    box-shadow: 2px 2px 2px #000000d3;
    border-radius: 20px;

    margin-top: 40px;
    margin-left: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}
.my-projects a{
    text-decoration: none;
    color: #837E9F;
    font-size: 14px;
}
.my-projects a:hover{
    color: #6b6979;

}


.container-my-onix{
    width: 952px;
    height: 186px;
    background-color: #22212C;

    display: flex;
    justify-content: space-between;
    margin: 30px 40px 30px 60px;
}
.my-onix{
    width: 461px;
    height: 186px;
    background-color: #302F3D;
    box-shadow: 2px 2px 2px #000000d3;
    border-radius: 20px;
  
}
.my-onix-folder{
    display: flex;
    align-items: center;
    margin: 30px 0 20px 30px;

    font-size: 20px;
}
.my-onix-folder h4{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-left: 16px;
}

.my-onix P{
    font-size: 14px;
    line-height: 20px;
    
    width: 421px;
    margin: 0px 10px 0px 30px;
}

.my-onix-footer{
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 30px;
}
.clipper{
    display: flex;
    width: 48px;
    margin-left: 30px;
    margin-right: 16px;
    
}

.clipper p{
    margin: 0 0 0 8px;
}
.clipperTech{
    display: flex;
    width: 96px;
    margin-left: 151px;
}
.clipperTech i{
    color: yellow;
    border: 3px solid #6b6979;;
    border-radius: 50%;
    
}
.clipperTech p{
    margin: 0 0 0 8px;
}
