@charset "UTF-8";

body{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather Sans';
    background-color: #22212C;
    color: #837E9F;
    font-size: 20px;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;

}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

.col1{
    width: 1fr;
    padding: 40px 0 0 40px;
}

.profile{
    min-width: 348px;
    height: 292px;
    background-color: #302F3D;
    border-radius: 20px;
    box-shadow: 3px 3px 2px #0f0f13;
    text-align: center;
    margin-bottom: 30px;
}
.profile img{
    margin-top: 32px;
    margin-bottom: 30px;
    width: 128px;
    height: 128px;
}
.profile h1{
    display: block;
    font-size: 23px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 10px;
   
}
.profile p{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 13px;
    font-weight: 300;
}




.redes-sociais{
    min-width: 348px;
    height: 348px;
    background-color: #302F3D;
    border-radius: 20px;
    box-shadow: 3px 3px 2px #0f0f13;
    margin-bottom: 30px;
    
}
.enquadro{
    padding: 35px 0 30px 40px;
    width: 328px;
    height: 202px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.redes-sociais a{
    text-decoration: none;
    color: #837E9F;
    font-size: 14px;
    font-weight: 400;
    
}
.redes-sociais a + a{
    margin-top: 28px;
}
.redes-sociais i{
    margin-right: 20px;
}




.techs{
    background-color: #302F3D;
    height: 208px;
    border-radius: 20px;
    box-shadow: 3px 3px 2px #0f0f13;
    margin-bottom: 30px;
}
.techs h2{
    font-size: 26px;
    margin: 0 0 20px 20px;
    padding-top: 30px;
}

.techGroup{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr ;
    gap: 15px;
    margin-left: 25px;
}
.techGroup button{
    width: 86px;
    background-color: #CB92B1;
    border-radius: 30px;
    font-size: 10px;
    font-weight: 700;
    padding: 6px 0 6px 0;
    border: none;    
}




.experEdu{
    background-color: #302F3D;
    border-radius: 20px;
    box-shadow: 3px 3px 2px #0f0f13;
    height: 349px;
    margin-bottom: 30px;
}

.experEdu h2{
    font-size: 20px;
    padding-top: 30px;
    margin-left: 20px;
}

.experEdu ul li{
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 20px;  
}
.experEdu ul li p{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.experEdu ul li p spam{
    opacity: .7;
}



.col2{
    width: 3fr;
}
.myProjects{
    min-width: 952px;
    height: 86px;
    background-color: #302F3D;
    border-radius: 20px;
    box-shadow: 3px 3px 2px #0f0f13;
    display: flex;
    justify-content: space-between;
    color: #837E9F;
    margin: 40px 80px 31px 60px;
}
.myProjects h2{
    font-size: 20px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 30px;
}
.myProjects a{
    text-decoration: none;
    color: #837E9F;
    font-size: 14px;
    font-weight: 300;
    padding: 34px 30px 34px;
}



.hero-onix{
    min-width: 952px;
    margin: 0 80px 31px 60px;
    display: flex;
    gap: 18px;
}
.my-onix{
    background-color: #302F3D;
    width: 50%;
    
    height: 186px;  
    padding: 20px 0 20px 30px;
    border-radius: 20px;;
    box-shadow: 3px 3px 2px #0f0f13;
}
.my-onix__header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.my-onix__header p{
    margin-left: 16px;
}

.my-onix a{
    text-decoration: none;
    color: #837E9F;
    font-size: 14px;
}

.container{
    display: flex;
    height: 20px;
    margin: 30px 16px 0 0;

}

.star{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 16px;
    font-size: 14px;
    line-height: 18px;
    
}
.star i, img{
    margin-right: 8px;
    
    
}

.jvs{
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    width: 245px;
}
.jvs i{
    color: #E7DE79;
    border: 3px solid #837E9F;
    border-radius: 50%;
    margin-right: 8px;
    font-size: 13px;
    
}
.jvs p{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.recent-posts{
    background-color:  #302F3D;
    min-width: 952px;
    height: 86px;
    border-radius: 20px;
    margin: 30px 80px 30px 60px;
}
.recent-posts h2{
    font-size: 20px;
    font-weight: 700;
    padding: 30px 0 30px 30px;
}


.footer{
    background-color: #302F3D;
    min-width: 952px;
    height: 201px;
    margin: 0 80px 0 60px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.footer img{
    margin: 31px 20px 42px 20px ;
}

.footer-text{}

.footer-text h3{
    font-size: 18px;
    font-weight: 700;
    padding-top: 10px;
    margin-block-end: 5px;
}
.footer-text__ano{
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 38px 0;
}
.footer-text__text{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 11px;
    margin-block-end: 5px;
}
.footer-text ul{
    padding: 0;
    margin-block-start: 5px;
}
.footer-text ul li{
    display: inline-block;
    font-size: 14px;
    
       
}
.footer-text ul li + li{
    margin-left: 10px;
}